<form action="/cursos/criar" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  Nome:
  <input type="text" name="nome">

  <br><br>
  Imagem
  <input type="text" name="imagem">

  <button type="submit">Criar curso</button>
</form>
